spring:
  ## Kafka ##
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      retries: 5
    consumer:
      group-id: station-tracker-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.json.trusted.packages: "com.stationTracker.model,com.stationTracker.dto"
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.value.default.type: com.stationTracker.dto.arrival.TrainArrivalEvent
    admin:
      properties:
        bootstrap.servers: kafka:9092
        request.timeout.ms: 5000
        default.api.timeout.ms: 5000
      fail-fast: false

## Sncf API
  sncf:
    api:
      url: https://api.sncf.com/v1/coverage/sncf/stop_areas/stop_area:SNCF:87722025/arrivals
      key: ${SNCF_API_KEY}

  ## Database ##
  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      connection-timeout: 30000
      initialization-fail-timeout: 60000

  ## Hot reloading of templates ##
  thymeleaf:
    cache: false # Disables caching so changes to HTML are picked up instantly

  web:
    resources:
      static-locations: file:/app/src/main/resources/static/, classpath:/static/
      cache:
        period: 0 # Disables caching for JS and CSS files

  devtools:
    livereload:
      enabled: true # Enables the LiveReload server to notify your browser of changes

## Actuator ##
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    kafka:
      enabled: true
    defaults:
      enabled: true