body,
main {
    min-height: 100dvh;
}

#map { height: 100vh; width: 100%; }
.pulse-animation {
    animation: pulse-red 1s infinite;
}
@keyframes pulse-red {
    0% { stroke-width: 2; stroke-opacity: 1; }
    100% { stroke-width: 15; stroke-opacity: 0; }
}


/**Home*/
.home_container{
    display:flex;
}
/* Info section*/
.info_section{
    width:40%;
    height:100dvh;
    padding:10px;
    gap:15px
}

.info_section_left{
    display: flex;
    flex-direction : column;
    gap: 15px;
}

.info_section_right{
    gap: 15px;
}
/* Map */
.map_section{
    width: 60%;
}

/*** Common ***/
.w-50 {
    width:50%
}

.w-90 {
    width:90%
}

.w-100 {
    width:100%
}

.h-100{
    height:100%
}
/* Gap*/
.gap-5 {
    gap:5px;
}

.gap-10 {
    gap:10px;
}

.gap-15{
    gap:15px;
}
/* Margins*/
.mb-n10 {
    margin-bottom: -10px
}

.p-10 {
    padding-top:10px;
    padding-bottom:10px
}
/* Colors*/
.text_blue {
    color:#0d6efd
}

.text_red {
    color:#D22B2B
}

.text_green {
    color:#56B048
}

.text_green_deep {
    color : #065654
}
.text_white{
    color : white;
}

.color_green_light{
    background-color: lab(98.1563% -5.60117 2.75915)
}

.color_green_deep{
    background-color: #065654
}

hr {
    margin-bottom: 2px;
    margin-top:2px;
}

.h-inherit{
    height:inherit
}